.ce-inline-tool-targetlink-wrapper {
  outline: none;
  border: 0;
  border-radius: 0 0 4px 4px;
  margin: 0;
  font-size: 13px;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  font-weight: 500;
  border-top: 1px solid rgba(201, 201, 204, 0.48);
}

.ce-inline-tool-targetlink-wrapper.ce-inline-tool-targetlink-wrapper--showed {
  display: block;
}

.ce-inline-tool-targetlink--input {
  border: 1px solid rgba(201, 201, 204, 0.48);
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  box-shadow: inset 0 1px 2px 0 rgba(35, 44, 72, 0.06);
  border-radius: 5px;
  padding: 5px 8px;
  margin-bottom: 10px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ce-inline-tool-targetlink--label {
  display: flex;
  align-items: center;
}

.ce-inline-tool-targetlink--checkbox {
  margin-right: 8px;
}

.ce-inline-tool-targetlink--button {
  display: block;
  width: 100%;
  background-color: #34c38f;
  color: #fff;
  padding: 7px 0;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 12px;
}
